[submodule ".registry"]
	path = .registry
	url = https://github.com/craddm/craddm.r-universe.dev
	branch = HEAD
[submodule "eegUtils"]
	path = eegUtils
	url = https://github.com/craddm/eegUtils
[submodule "infomax"]
	path = infomax
	url = https://github.com/eegverse/infomax
	registered = false
